<div class="row mb-2">
    <div class="col"><h4><%= t('.title') %></h4></div>
    <% if can? :create, Speciality %>
        <div class="col text-end">
            <%= link_to t('button.add.speciality'), new_speciality_path, :method => :post, class: "btn btn-outline-success" %>
        </div>
    <% end %>
</div>

<% @specialities.each do |speciality| %>
    <%= render speciality %>
<% end %>

<% if @pagy.pages > 1 %>
    <div class="d-flex justify-content-center">
        <%== pagy_bootstrap_nav(@pagy) %>
    </div>
<% end %>