<% if flash[:notice] %>
    <p class="text-center fw-semibold text-success"><%= notice %></p>
<% end %>

<% if flash[:alert] %>
    <p class="text-center fw-semibold text-danger"><%= alert %></p>
<% end %>
