<h4><%= t('.title') %> "<%= @search_params %>" </h4>

<% if @personal_cards.present? %>
    <% @personal_cards.each do |personal_card| %>
        <%= render personal_card %>
    <% end %>
<% else %>
    <p class="fw-semibold text-danger"><%= t('.search_empty') %></p>
<% end %>