<h4><%= t('.title') %></h4>

<% if @reviews.present? %>
    <% @reviews.each do |review| %>
        <%= render review %>
    <% end %>
<% else %>
    <p class="fw-semibold text-danger"><%= t('.reviews_empty') %></p>
<% end %>

<% if @pagy.pages > 1 %>
    <div class="d-flex justify-content-center">
        <%== pagy_bootstrap_nav(@pagy) %>
    </div>
<% end %>